<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="hero">
        <nav class="nav">
            <a href="home portfolio.ejs"><h2 class="logo">Portfo<span>lio</span></h2></a>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact </a></li>
                    <a href="/contact" class="btn">Subscribe</a>
                </ul>
                
            </div>
            
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content" id="overlay-content">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact </a></li>
                    </ul>   
                </div>
            </div>
                           
                <div class="menu_icon" id="menuicon" style="font-size:30px;cursor:pointer" onclick="openNav()">
                <h1 class="h1"><b>&#9776;</b></h1>
            </div>

            <script>
                function openNav() {
                  document.getElementById("myNav").style.width = "100%";
                  document.getElementById("myNav").style.height = "100vh";
                  
                }
                
                function closeNav() {
                  document.getElementById("myNav").style.width = "0%";
                  document.getElementById("myNav").style.transition = "1s";
              
                }
            </script>
        </nav>
        <div class="content">
            
            <h1>Ofoegbu <span>Chibuzor</span></h1>
            <h3>Know more about me...</h3>
           
        </div>
    </div>

    <section class="about">
        <img class="h" src="/image/mme.jpg" width="300px">

        <div class="main">
            <div class="about-text">
                <h1>About Me</h1>
                <h5>Developer <span>& Designer</span></h5>
                <p>I am a front-end web developer. I can provide clean code and pixel perfect design. I also
                    make the website more interactive with web animations. A responsive design that makes your
                    website accessible to all users, reguardless of their device.
                </p>
                <a href="/profile"><button type="button">Read More</button></a>
                <a href="https://wa.me/+2347015675347"><button type="button">Let's Talk</button></a>
            </div>
        </div>

    </section>
 
    <!--footer section-->
    <footer>
        <p>Ofoegbu Chibuzor</p>
        <div class="uu">
            <h5>For more HTML,CSS, and coding tutorial - you can reach me with any of the social media platform below:</h5>
        </div>
        <div class="social">
            <a href="https://web.facebook.com/Ofoegbufrancis5"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/invites/contact/?i=p5yahuwihaa9&utm_content=2g6bta2"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://wa.me/+2347015675347"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </div><br><br><br><br>
        <p class="end">CopyRight By Ofoegbu Chibuzor</p>
    </footer>
</body>
</html>