<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My|profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}
.card {
  box-shadow: 0 2px 8px 0 #fcfc;
  width: 350px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#f9004d;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:transparent;
  border: 2px solid #f9004d;
}
body{
    background: #101010;
}
.h2{
    color: white;
    font-size: 25px;
}
.dd{
    color: #fcfc;
}
.row{
    margin-left: 200px;
    display: block;
    margin-top: 80px;
   
    
}
.bb{
    color: white;
}
span{
    color: #f9004d;
}
.profile{
    margin-left: 500px;
    width: 500px;
    margin-top: -650px;
    text-align: justify;
  
}
.p{
    color: #fcfc;
    line-height: 28px;
    width: 500px;
}
.ss{
    display: flex;
    font-size: 20px;
}
i{
    font-size: 500px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
    margin-left: 80px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
  display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}
.social i{
  margin-right: 80px;
  color: white;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 20px;
}
.btn{
  background-color: #f9004d;
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  margin-top: 0px;
  color: white;
  
}
.btn:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
}
.go{
  display: block;
  margin-left: 500px;
}
.jj{
  margin-left: 500px;
  text-align: justify;
}
.uu{
        width: 800px;
        
    }
    .uu h5{
        
        color: white;
        font-size: 17px;
        text-align: justify;
    }
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media(max-width:700px){
  .card{
    width: 250px;
    margin-left: -180px;
    margin-bottom: 700px;
  }
  .profile{
    margin-left: -180px;
    
    
  }
  .bb{
    font-size: large;
  }
  .p{
    width: 270px;
    
  }
  .go{
    margin-left: -180px;
    width: auto;

  }
  .jj{
    margin-left: -180px;
  }
  .uu{
        width: 300px;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 15px;
        text-align: justify;
    }
  

}


</style>
</head>
<body>


  <div class="row">
    <div class="column">
      <div class="card">

        <img src="/image/mme.jpg" alt="Francis" style="width:100%">

          <div class="container">                    
            <h2 class="h2">Chibuzor Ofoegbu</h2>                                
            <p class="title">Web Developer </p>
            <p class="dd">Innovation & Connectivity the watch word</p>
            <p class="dd">ofoegbuchibuzor5@gmailcom</p>
            <p><a href="https://wa.me/+2347015675347"><button class="button" >Contact</button></a></p>
          </div>

      </div>
    </div>

    <div class="profile">
      <h1 class="bb">BRIEF <span>PROFILE</span></h1>
      <p class="p">
        I am Chibuzor Francis Ofoegbu, I am a Nigerian, I am currently an undergraduate of Computer Engineering at Caritas University.<br>
      </p>
    </div>
      
    <div class="go">
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Age:</span> 21</h4>
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Gender:</span> Male</h4>
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Languages:</span> Igbo, English</h4>
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Work:</span> Front-end Developer</h4>
           
    
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Freelance:</span> Available</h4>
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Phone:</span> +234 701 567 5347</h4>
      <h4 style="color: #fcfc;"><span style="color: #f9004d;">Email:</span> ofoegbuchibuzor5@gmail.com</h4>
                
    </div>
    <div class="jj">
      <h3 class="bb">What I Want To Do</h3>
      <p class="p">Change the world!!.... I hope to be one of the best Developer & Designer i can possibly be. Everyday is a chance at improvement.
          There is no reason we shouldn't be taking that opportunity we have been given.
      </p>
      <a href="/about"><button class="btn">BACK</button></a><br><br><br><br><br><br><br><br> 
    </div>
  </div>
  <!--footer section-->
  <footer>
      <p>Ofoegbu Chibuzor</p>
      <div class="uu">
        <h5>For more HTML,CSS, and coding tutorial - you can reach me with any of the social media platform below:</h5>
      </div>
      <div class="social">
        <a href="https://web.facebook.com/Ofoegbufrancis5"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/invites/contact/?i=p5yahuwihaa9&utm_content=2g6bta2"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://wa.me/+2347015675347"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </div><br><br><br><br>
      <p class="end">CopyRight By Ofoegbu Chibuzor</p>
  </footer>

</body>
</html>