.about{
    width: 100%;
    padding: 78px 0px;
    background-color: black;
}
.about-text{
    width: 600px;
    text-align: justify;
    margin-left: 500px;
}
.main{
    width: 900px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: -400px;
    text-align: justify;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text p{
    color: #fcfc;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
a{
    text-decoration: none;
}
button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004d;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: -10px;
}
span{
    color: #f9004d;
}
.menu ul li a{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-left: 100px;
}
.btn:hover{
    transform: scale(1.2);
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.uu{
    width: 700px;
    
}
.uu h5{
    font-weight: 10px;
    color: white;
    font-size: 22px;
    text-align: justify;
}
.uu h5{
    margin-left: 5px;
    width: 720px;
    text-align: justify;
    text-align: center;
}
.social{display: flex;}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 20px;
}
.h{
    border-radius: 50px;
    margin-left: 200px;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.952),rgba(0, 0, 0, 0.877)),url('/image/bird.webp')  ;
    background-size: cover;
    
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btnn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-right: -20px;
    margin-left: 100px;    
    
}
.btnn:hover{
    transform: scale(1.2);
}
.menu{
    margin-left: 100px;
    margin-top: -20px;
    font-size: 20px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 15%;
    margin-top: 0px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    margin-top: 50px;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.main{
    margin-left: 200px;
}
/*mobile desktop*/

.overlay {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;    
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 30%;
    text-align: center;
    margin-top: 3px;
    
  }
  
  .overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menu_icon{
      display:none;
      float: right;
      color: red;
      
    }

@media(max-width:700px){
        .header{
        display: none;
        float: right;
        background-color: brown;
        color: bisque;
        text-align: left;
        margin-left: 10px;
        position: absolute;
        
    }
    .hero{
        width: 310px;
        height: 50vh;
        margin-bottom: 500px;
        
    }
    .logo{
       font-size: 18px;
        margin-top: -20px;
        
    }
    .menu_icon{
        display: block;
        float: left;
        color: red;
        margin-top: -9px;
        margin-right: -20px;
    
        
    }
    .menu_icon h1{
        font-size: 30px;
    }
    .overlay a {
        font-size: 25px;
        background-color: black;
        display: block;
        width: 150px;
        margin-left: 1px;
        padding: 10px;
        color: white;
        
    }
    .overlay .closebtn {
        font-size: 50px;
        top: 40px;
        right:-100px;
        color: white;
        margin-left: 1px;
    
    }
    .menu{
        display: none;
    }
    
    .overlay{
        position: absolute;
        overflow: hidden;
        display: block;
        background-color: #191919;
            
    }
    
    #overlay-content{
        
        height: 1vh;
        position: absolute;
        top: 25%;
        text-align: left;
        font-size: 15px;
        padding: 10px;
            
    }
    .h4,h3,h1{
        font-size: 15px;
        margin-top: -20px;
        
    }
    .content{
        margin-top: -90px;
        
    }
    .h{
        width: 280px;
        margin-left: 12px;
        margin-bottom: -320px;
        margin-top: -900px;
    }
    .main{
        margin-top: -330px;
        margin-left: 10px;
        width: 300px;
        
    }
    .about-text{
        margin-top: 700px;
        margin-left: -1px;
        
    }
    .about-text h1{
        font-size: 50px;
    }
    .about-text p{
        text-align: justify;
    }
    .about{
        margin-top: -500px;
        width: 310px;
    }
    .uu{
        width: 300px;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 15px;
        text-align: justify;
        margin-left: 5px;
        width: 280px;
    }
   footer{
    width: 310px;
   }

    
}
