section{
    
    margin-right: -100px;
}
.contact{
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    

    
}

img{
    height: 60vh;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: -70px;
    
}

.contact-img{
    margin-right: 0px;
    margin-left: -400px;
    margin-top: 450px;
}
.contact-form h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
    margin-left: 80px;
   
}
.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
    width: 600px;
    margin-left: 20px;
  
}
span{
    color: #f9004d;
}
form{
    border: 2px solid transparent;
    border-radius: 10px; width: 700px;height: 62vh;
    text-align: center; color: white; padding: 15px; margin-top: -600px;
    margin-left: 450px;
}
input[type=text], select {
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
    color: white;
    background-color: #191919}

input[type=email], select {
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
    color: white;
    background-color:#191919 ;
} 
input[type=tel], select {
    width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: none;
   border-radius: 1px;
   box-sizing: border-box;
   color: white;
   background-color:#191919 ;
} 

textarea {
    width: 100%;
    background-color: #191919;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
}
.uu{
    width: 700px;
    
}
.uu h5{
    font-weight: 10px;
    color: white;
    font-size: 22px;
    text-align: justify;
}
.uu h5{
    margin-left: 5px;
    width: 720px;
    text-align: justify;
    text-align: center;
}
.btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid transparent;
    width: 100px;
    transition: ease .20s;
    cursor: pointer;
    padding: 8px;
    color: white;
    border-radius: 20px;
    padding-right: 7px;
    
}
.btn:hover{
    border: 2px solid #f9004d;
    transform: scale(1.02);
    color: white;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{display: flex;}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 20px;
}
a{
    text-decoration: none;
}

.hero{
    height: 90vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.952),rgba(0, 0, 0, 0.877)), url('/image/MMM.jpg')  ;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

}
nav{
    margin-top: -50px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    
}
.btnn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
    width: 700px;
    font-size: larger;
    
}
.btnn:hover{
    transform: scale(1.011);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 6%;
    padding-right: 8%;
    margin-right: 250px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h2{
    color: white;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.mm{
    width: 90px;
    border: 2px solid #101010;
    padding-right: 200px;
    margin-right: 10px;
    background-color: #191919;
    height: 30vh;
    margin-left: 20px;
    font-size: 10px;
    
}
.menu{
    margin-top: 20px;
    font-size: 20px;
    margin-left: -500px;
}
.menu ul li a{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
    margin-left: 0px;
}
.kk{
    display: inline-block;
   
    margin-left: 80px;
       

}
.dd{
    margin-left: 120px;
    width: 500px;
    margin-top: 10px;
    
}
.ddd{
    margin-left: 100px;
    width: 500px;
    margin-top: 10px;
}
.fff{
    margin-top: -40px;
    width: 500px;
    padding-left: 40px;
}
.ff{
    margin-top: -40px;
    color:#f9004d;
    font-size: 10px;
    
}
.s{
    color: #f9004d;
   font-size: 50px;
   margin-left: 130px;
   padding-top: 120px;
   border-radius: 50px;
}
.km{
    padding-top: 18px;
}
/*mobile desktop*/

.overlay {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;    
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 30%;
    text-align: center;
    margin-top: 3px;
    
  }
  
  .overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menu_icon{
      display:none;
      float: right;
      color: red;
      
    }

@media(max-width:700px){
    .header{
        display: none;
        float: right;
        background-color: brown;
        color: bisque;
        text-align: left;
        margin-left: 10px;
        position: absolute;
        
    }
    .hero{
        width: auto;
        height: 50vh;
        
    }
    .logo{
       font-size: 20px;
        margin-top: 10px;
       
    }
    .menu_icon{
        display: block;
        margin-top: 10px;
        margin-left: 150px; 
           
    }
    .menu_icon h1{
        font-size: 30px;
    }

    .overlay a {
        font-size: 25px;
        color: white;
        display: block;
        width: 150px;
        margin-left: 1px;
        padding: 10px;
        background-color: black;
        
    }
    .overlay .closebtn {
        font-size: 50px;
        top: 40px;
        right:-100px;
        color: white;
        margin-left: 1px;
    
    }
    .menu{
        display: none;
        
    }
    
    .overlay{
        position: absolute;
        overflow: hidden;
        display: block;
        background-color: #191919
            
    }
    
    #overlay-content{
        
        height: 1vh;
        position: absolute;
        top: 25%;
        text-align: left;
        font-size: 15px;
        padding: 10px;
            
    }
    .content{
        width: auto;
    }
    .content h4,h2{
        font-size: 0px;
    }
    .content h3{
        margin-top: -150px;
    }
    .contact-form h1{
        font-size: 30px;
        margin-left: 20px;
    }
    .contact{
        width: 315px;
    }
    .kk{
        display: block;
        margin-left: -10px;
        
        
    }
    .mm{
        padding: 20px;
        width: 240px;
        padding-right: -800px;
        
        
    }
    .mm p{
        margin-left: 5px;
    }
    .s{
        margin-left: 100px;
    }
    .dd{
        margin-left: 85px;
    }
    .ddd{
        margin-left: 75px;
    }
    .ff{
       display: block;
    text-align: left;
    }

    .contact-form form{
        width: 290px;
        height: 70vh;
        margin-bottom: 40px;
        margin-left: -10px;
        margin-top: -30px;
    }
    .btn{
        width: 200px;
        display: none;
       
    }
    .btnn{
        width: 290px;
    }
    .uu{
        width: auto;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 15px;
        text-align: justify;
        margin-left: 5px;
        width: 280px;
    }
    footer{
        width: auto;
    }
}