.services{
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: black;
    margin-top: -70px;
    
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    background-size: 100% 200%;
    transition: all .8s;
    background-color: rgba(101, 101, 138, 0.274);
    color: white;
}
.boxx{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    background-size: 100% 200%;
    transition: all .8s;
    background-color: rgba(101, 101, 138, 0.274);
    color: white;
}
.box:hover{
    background-position: left bottom;
    color: white;
    background-color: #191919
}
.box p, .boxx p{
    text-align: justify;
    line-height: 22px;
    font-size: 19px;

    
}
.boxx:hover{
    background-position: left bottom;
    color: white;
    background-color: #191919
}
body{
    background-color: #191919;
}
.headings{
    font-size: 40px;
    color: black;
    text-align: center;
}
.headingss{
    font-size: 60px;
    color: black;
    text-align: center;
}
.box .headings:hover{
    color: white;
}
.aa:hover{
    color: white;
}
.aa{
    color: #f9004d;
    font-size: 50px
}
.bg{
    height: 100%;
    width: 98.5%;
    background-color: #f9004d;
    clip-path: polygon(54% 22%, 100% 50%, 50% 100%, 0% 50%);
    position: absolute;
    z-index: -1;
}
.hero{
    height: 90vh;
    width: 100%;
   
   
}
.hero{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.952),rgba(0, 0, 0, 0.877)), url('/image/sky.webp')  ;
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;
}
nav{
    margin-top: -50px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    
}
a{
    text-decoration: none;
}
span{
    color: #f9004d;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-left: 250px;
}
.btn:hover{
    transform: scale(1.2);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{display: flex;}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 20px;
}
 /*mobile desktop*/

 .overlay {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;    
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 30%;
    text-align: center;
    margin-top: 3px;
    
  }
  
  .overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .menu a{
    font-size: 20px;
  }
  .menu_icon{
      display:none;
      float: right;
      color: red;
      
      
    }
    .uu{
        width: 700px;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 22px;
        text-align: justify;
    }
    .uu h5{
        margin-left: 5px;
        width: 720px;
        text-align: justify;
        text-align: center;
    }
@media(max-width:700px){
        .header{
        display: none;
        float: right;
        background-color: brown;
        color: bisque;
        text-align: left;
        margin-left: 10px;
        position: absolute;
        
    }
    .hero{
        width: 310px;
        height: 50vh;
        margin-bottom: -80px;
    }
    .bg{
        width: 300px;
        height: 50vh;
       
    }
    .logo{
       font-size: 18px;
        margin-top: 1px;
    }
    .menu_icon{
        display: block;
        margin-top: -10px;
        margin-left: 150px; 
            
        
    }
    .menu_icon h1{
        font-size: 30px;
    }
    .overlay a {
        font-size: 25px;
        background-color: black;
        display: block;
        width: 150px;
        margin-left: 1px;
        padding: 10px;
        color: white;
        
    }
    .overlay .closebtn {
        font-size: 60px;
        top: 50px;
        right:-100px;
        color: white;
        margin-left: 1px;
    
    }
    .menu{
        display: none;
    }
    
    .overlay{
        position: absolute;
        overflow: hidden;
        display: block;
        background-color: #191919;
            
    }
    
    #overlay-content{
        
        height: 1vh;
        position: absolute;
        top: 25%;
        text-align: left;
        font-size: 15px;
        padding: 10px;
            
    }
    .uu{
        width: 300px;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 15px;
        text-align: justify;
    }
    .end{
        width: 300px;
        padding-left: 15px;
    }
    .box{
        width: 350px;
        height: 70vh;
        margin-top: 10px;
    }
    .boxx{
        width: 300px;
        height: 70vh;
        margin-top: 10px;
    }
    .content h1{
        font-size: 25px;
        margin-top: 130px;
    }
    .headingss{
        display: none;
    }
    .headings{
        font-size: 20px;
        margin-bottom: -10px;
    }
    .row{
        margin-top: 100px;
    }
    .uu{
        width: 300px;
        
    }
    .uu h5{
        font-weight: 10px;
        color: white;
        font-size: 15px;
        text-align: justify;
        margin-left: 5px;
        width: 280px;
    }
}